*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#e9e9e9;
}

/* NAVBAR */
.navbar{
    background:#888;
    padding:20px 0;
}

.navbar ul{
    display:flex;
    justify-content:center;
    list-style:none;
    gap:40px;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

/* HERO */
.hero{
    position:relative;
}

.hero img{
    width:100%;
    height:450px;
    object-fit:cover;
}

.hero h1{
    position:absolute;
    top:30%;
    left:5%;
    color:white;
    font-size:60px;
    font-weight:bold;
}

/* TEAM */
.team{
    text-align:center;
    padding:60px 20px;
}

.team h2{
    font-size:40px;
    margin-bottom:40px;
}

.team-wrapper{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.team-wrapper img{
    width:250px;
    height:250px;
    border-radius:50%;
}

/* ABOUT */
.about-section{
    padding:60px 20px;
    text-align:center;
}

.about-section h2{
    font-size:40px;
    margin-bottom:40px;
}

.about-container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.about-text{
    background:#777;
    color:white;
    padding:30px;
    flex:1;
    min-width:300px;
    text-align:left;
}

.project-list{
    flex:1;
    min-width:300px;
}

.project{
    margin-bottom:20px;
    background:white;
}

.project h3{
    padding:10px;
}

.project img{
    width:100%;
    height:150px;
    object-fit:cover;
}

/* TECHNOLOGY */
.technology{
    padding:60px 20px;
    text-align:center;
}

.technology h2{
    font-size:40px;
    margin-bottom:40px;
}

.tech-wrapper{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.tech-card{
    width:250px;
    background:white;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.tech-card img{
    width:100%;
    height:150px;
    object-fit:contain;
}

.tech-card h4{
    margin:15px 0;
}

.tech-card button{
    background:red;
    color:white;
    border:none;
    padding:10px;
    width:100%;
    cursor:pointer;
    margin-top:10px;
}

/* CONTACT */
.contact{
    text-align:center;
    padding:60px 20px;
}

.footer-box{
    background:#c78cc7;
    padding:30px;
}

/* RESPONSIVE */
@media(max-width:992px){
    .hero h1{
        font-size:40px;
    }
}

@media(max-width:768px){

    .hero img{
        height:300px;
    }

    .hero h1{
        font-size:28px;
        top:35%;
    }

    .team-wrapper img{
        width:180px;
        height:180px;
    }

    .about-container{
        flex-direction:column;
    }

    .tech-card{
        width:90%;
    }
}
